/*General styling*/
.mode-graphic-container {
  border: 1px solid #F2F3F3;
  max-width: 1162px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  overflow: scroll;
}

.mode-graphic-title {
  font-size: 14px;
  line-height: 48px;
  height: 48px;
  padding-left: 16px;
  font-weight: 500;
}

/*Retention heatmap styling*/
.mode-retention-heatmap-pivot-label {
  font-size: 12px;
  text-align: center;
  margin: 10px;
}

.mode-retention-heatmap-table {
  table-layout: fixed;
  border-collapse: separate;
  font-size: 10px;
  border-spacing: 1px;
  margin: 5px auto 10px auto;
}

.mode-retention-heatmap-table-header-cell {
  overflow: hidden;
  font-size: 12px;
  padding: 4px;
  color: white;
  background: gray;
}

.heatmap-string {
  text-align: left;
}

.heatmap-number {
  text-align: center;
}

.mode-retention-heatmap-table td {
  overflow: hidden;
  padding: 6px 6px 4px 6px;
  /*border-radius: 4px;*/
}

.mode-retention-heatmap-label {
  text-align: center;
  color: #8D9D9F;
}

/*Google map*/
.mode-google-map {
  height: 100%;
  width: 100%;
  max-width: 1162px;
  position: absolute;
}

/*Leaflet map*/
.mode-leaflet-map {
  height: 100%;
  width: 100%;
  max-width: 1162px;
  position: absolute;
}

/*Wordcloud*/
.mode-wordcloud {
  text-align: center;
}

/*Funnel*/
.mode-funnel {
  text-align: center;
  margin: 0 auto;
}

/*Bullet chart*/
.mode-bullet-chart {
  text-align: center;
}

/*Sunburst chart*/
.mode-sunburst {
  text-align: center;
}

.mode-sunburst-sequence {
  text-align: center;
}

.mode-sunburst path {
  stroke: #fff;
}

.mode-sunburst-legend-container {
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 600px;
}

.mode-sunburst-legend-container text, .mode-sunburst-sequence text {
  fill: #fff;
}

.mode-sunburst-legend {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  margin-left: 5px;
  margin-top: 5px;
  width: 195px;
  padding: 5px;
}

.mode-sunburst-explanation {
  margin: 0 auto;
  fill: #666;
  padding: 10px;
}

.mode-sunburst-percentage {
  font-size: 2.5em;
  color: #666;
}

.mode-sunburst-cond-percentage {
  font-size: 1.8em;
  color: #666;
}

/*County choropleth*/
.mode-county-chorolpleth {
  text-align: center;
}

.mode-county-chorolpleth-counties {
  fill: #666;
}

.mode-county-chorolpleth-states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

.mode-pivot-table {
  padding: 10px;
}

.mode-force-directed-graph {
  text-align: center;
  margin: 0 auto;
}

.mode-force-directed-graph-node {
  stroke: #394242;
  stroke-width: 1px;
}

.mode-force-directed-graph-link {
  fill: none;
  stroke: #a4a5a9;
}

.mode-force-directed-graph-tooltip {
  line-height: 1;
  font-weight: normal;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.mode-network-matrix {
  text-align: center;
  margin: 0 auto;
}

.mode-network-matrix-background {
  fill: #eee;
}

.mode-network-matrix-line {
  stroke: #fff;
}

.mode-network-matrix-row-text.active,
.mode-network-matrix-column-text.active {
  fill: red;
}

.mode-network-matrix-order-picker {
  text-align: center;
}

.mode-hive-link {
  fill: none;
  stroke-width: 1px;
}

.mode-hive-axis,
.mode-hive-node {
  stroke: #394242;
  stroke-width: 1px;
}